* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --color-primary: 0, 115, 83;
  --color-secondary: 19, 17, 56;
  --color-background: 255, 255, 255;
  --color-white: 255, 255, 255;
  --color-black: 0, 0, 0;
}

/*============================================================================================================================*/

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  position: absolute;
  width: 100%;
  z-index: 10;
}

.header .logo {
  width: 10rem;
  height: auto;
}

.header nav a {
  color: rgba(var(--color-secondary));
  font-size: 1.3rem;
  text-decoration: none;
  padding: 0.7rem;
  margin-right: 2rem;
}

.hem:hover,
.oss:hover {
  background: rgba(var(--color-white), 0.2);
  backdrop-filter: blur(8px);
  border-radius: 6px;
}

/*SELECTED PAGE*/
.data {
  background: rgba(var(--color-white), 0.9);
  border-radius: 6px;
}

/*============================================================================================================================*/

/* HERO BG BILD*/
.hero {
  height: 150px;
  background: url(images/skog.jpg) center/cover no-repeat;
  display: flex;
  overflow: hidden;
  background-position: top center;

  box-shadow: 0 4px 12px rgba(var(--color-secondary), 0.15);
}

.hero-text {
  position: relative;
  max-width: 700px;
  z-index: 2;
  margin-bottom: 5rem;
}

.hero h1 {
  font-size: 4.5rem;
  margin-bottom: 10px;
}

/* SECTIONS */
.section {
  display: flex;
  gap: 40px;
  padding: 60px;
  align-items: center;
}

/*============================================================================================================================*/

/*Devider*/


.divider {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 10px auto;
  width: 85%;
  margin-top: 6rem;
  margin-bottom: 3rem;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  border-bottom: 2px solid rgba(var(--color-secondary));
}

.divider span {
  padding: 0 15px;
  font-weight: bold;
  color: rgba(var(--color-primary));
}

/*============================================================================================================================*/




/* BODY */

body {

  background-color: #e2ffea;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 40' width='80' height='40'%3E%3Cpath fill='%2300721e' fill-opacity='0.19' d='M0 40a19.96 19.96 0 0 1 5.9-14.11 20.17 20.17 0 0 1 19.44-5.2A20 20 0 0 1 20.2 40H0zM65.32.75A20.02 20.02 0 0 1 40.8 25.26 20.02 20.02 0 0 1 65.32.76zM.07 0h20.1l-.08.07A20.02 20.02 0 0 1 .75 5.25 20.08 20.08 0 0 1 .07 0zm1.94 40h2.53l4.26-4.24v-9.78A17.96 17.96 0 0 0 2 40zm5.38 0h9.8a17.98 17.98 0 0 0 6.67-16.42L7.4 40zm3.43-15.42v9.17l11.62-11.59c-3.97-.5-8.08.3-11.62 2.42zm32.86-.78A18 18 0 0 0 63.85 3.63L43.68 23.8zm7.2-19.17v9.15L62.43 2.22c-3.96-.5-8.05.3-11.57 2.4zm-3.49 2.72c-4.1 4.1-5.81 9.69-5.13 15.03l6.61-6.6V6.02c-.51.41-1 .85-1.48 1.33zM17.18 0H7.42L3.64 3.78A18 18 0 0 0 17.18 0zM2.08 0c-.01.8.04 1.58.14 2.37L4.59 0H2.07z'%3E%3C/path%3E%3C/svg%3E");
  
}

.data-container {
  height: 1000px; /*TEEEEEEEEEEEEEEEEEEEEESSSSSSSTTTTTTTTTTTTTT*/
  margin: 1rem;
  padding: 5rem 8rem;
}

.intro {
  margin-bottom: 4rem;
}

.intro h1 {
  font-size: 3rem;
  color: rgba(var(--color-secondary));
  margin-bottom: 1rem;
}

.intro p {
  max-width: 700px;
  line-height: 1.8;
  color: rgba(var(--color-secondary), 0.8);
}


/* STATS GRID */

.stats-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.card {
  padding: 2.5rem;
  border-radius: 20px;

  background: rgba(var(--color-white), 0.6);
  backdrop-filter: blur(3px);

  box-shadow: 0 8px 20px rgba(var(--color-secondary), 0.1);

  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  background: rgba(var(--color-primary), 0.1);
}

.card h2 {
  font-size: 2rem;
  color: rgba(var(--color-primary));
  margin-bottom: 1rem;
}

.card p {
  color: rgba(var(--color-secondary), 0.8);
}

/*============================================================================================================================*/

/* BOTTOM BAR */

.bottom-bar {
  position: fixed;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%) translateY(100px);
  transition: transform 0.3s ease;
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
  background: rgba(var(--color-primary), 0.3);
  backdrop-filter: blur(8px);

  border-radius: 20px;
}

.bottom-bar a {
  color: rgba(var(--color-white));
  text-decoration: none;
  padding: 0.7rem;
}

.bottom-bar a:hover {
  background: rgba(var(--color-white), 0.3);
  border-radius: 6px;
}

/*============================================================================================================================*/

/* FOOTER */
footer {
  text-align: center;
  padding: 60px 60px 100px;
  overflow: hidden;
  background: url(images/skog.jpg) center/cover no-repeat;
  background-position: bottom center;
  color: rgba(var(--color-white));
}
