* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --color-primary: 0, 115, 83;
  --color-secondary: 19, 17, 56;
  --color-background: 255, 255, 255;
  --color-white: 255, 255, 255;
  --color-black: 0, 0, 0;
}

.focus {
  color: rgba(var(--color-primary));
}

.header .logo {
  width: 10rem;
  height: auto;
}

.oss {
  background: rgba(var(--color-white), 0.9);
  backdrop-filter: blur(8px);
 
  border-radius: 6px;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  position: absolute;
  width: 100%;
  z-index: 10;
}


.header nav a {
  color: rgba(var(--color-secondary));
  font-size: 1.3rem;
  text-decoration: none;
  padding: 0.7rem;
  margin-right: 2rem;
}

.hem:hover, .data:hover{
    background: rgba(var(--color-white), 0.5);
    backdrop-filter: blur(8px);
    border-radius: 6px;    
}

body {
  background: rgba(var(--color-primary), 0.1);
}

/* HERO BG BILD*/


.hero {
  height: 150px;
  background: url(images/skog.jpg) center/cover no-repeat;
  background-position: top center;
  display: flex;
  padding-left: 3.75rem;
  color: rgba(var(--color-white));
  position: relative;
  align-items: flex-end;
  box-shadow: 0 4px 12px rgba(var(--color-black), 0.15);
}

.chart-section {
  margin: 5rem 7rem;
  padding: 5rem;
  gap: 5rem;
  background: rgba(var(--color-white), 0.6);
  border-radius: 20px;
}


#sek1 h1 {
  width: 100%;
  max-width: 350px;
  margin-bottom: 1rem;
  font-size: 2.5rem;
  color: rgba(var(--color-secondary),1);

}



#sek1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  padding-top: 1rem;
  width: 100%;
  
}

#sek1 p {
  max-width: 500px;
  line-height: 1.6;
  
}

.sektion1-img {
  background: rgba(var(--color-black), 0.15); 
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 10px;
  margin-top: 5rem;
  order: 2;
}


#sek2-3 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  justify-content: center;
  gap: 2rem;
  padding: 1rem 6rem 6rem;
  margin: 0 auto;
  align-items: start;  
  word-break: break-all;
}

ul {
  list-style: none;
  padding-left: 0;
}

.sektion2,
.sektion3 {
  background-color: rgba(var(--color-primary),1);
  box-shadow: 0 0 8px rgba(var(--color-black), 0.15);
  border-radius: 1rem;
  padding: 1rem;
  color: rgba(var(--color-white));
  margin-top: 1rem;
  
}



.sektion2 summary:hover,
.sektion3 summary:hover{
  text-decoration: underline;
  cursor: pointer;
  color: rgba(var(--color-white),1);
}

.sektion2 a,
.sektion3 a {
  color: rgba(var(--color-secondary),1);
  text-decoration: none;
}

.sektion2 a:hover,
.sektion3 a:hover {
  text-decoration: underline;
}


.divider {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 10px auto;
  width: 85%;
  margin-top: 3rem;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  border-bottom: 2px solid rgba(var(--color-secondary),1);
}

.divider span {
  padding: 0 15px;
  font-weight: bold;
  color: rgba(var(--color-primary),1);
}

/* BOTTOM BAR */

.bottom-bar {
  position: fixed;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%) translateY(100px);
  transition: transform 0.3s ease;
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
  background: rgba(var(--color-white), 0.4);
  backdrop-filter: blur(8px);

  border-radius: 20px;
}

.bottom-bar a {
  color: rgba(var(--color-secondary));
  text-decoration: none;
  padding: 0.7rem;
}

.bottom-bar a:hover {
  background: rgba(var(--color-white));
  border-radius: 6px;
  color: rgba(var(--color-primary));
}


footer {
  margin-top: 5rem;
  text-align: center;
  padding: 60px 60px 100px;
  overflow: hidden;
  background: url(images/skog.jpg) center/cover no-repeat;
  background-position: bottom center;
  color: rgba(var(--color-white),1);
}

/* MOBIL ~600px */
@media (max-width: 600px) {


  .header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }

  .header .logo {
    width: 6rem;
  }

  .header nav {
    display: flex;
    flex-direction: row;
    gap: 0.8rem;
  }

  .header nav a {
    font-size: 0.9rem;
    padding: 0.3rem;
    margin-right: 0; 
  }


  .hero {
    height: 90px;
  }

  .hero h1 {
    font-size: 2rem;
    text-align: center;
  }

  #sek1 {
    padding: 2rem 1rem;
    display: flex;
  
  }
  
  .chart-section {
    margin: 2rem 1rem;
    padding: 2rem;
  }


  #sek1 h1 {
    font-size: 1.8rem;
  }

  #sek2-3 {
    grid-template-columns: 1fr;
    padding: 1rem;
  }

  .bottom-bar {
    width: 90%;
    gap: 1rem;
    font-size: 0.9rem;
  }
}

/* DESKTOP >1440px 
@media (min-width: 1440px) {

  body {
    max-width: 100%;
    margin: 0 auto;
  }

  .header {
    padding: 3rem 5rem;
  }


  .hero h1 {
    font-size: 6rem;
  }

  #sek1 {
    gap: 4rem;
    padding: 6rem;
  }

  #sek1 h1 {
    font-size: 3.5rem;
  }

  #sek2-3 {
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    padding: 4rem 8rem;
  }

  .sektion2,
  .sektion3 {
    padding: 2rem;
    font-size: 1.1rem;
  }
} */