
* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    width: 100%;
    gap: 1rem;
    padding: 2rem;
    align-items: center;
    position: absolute;
    justify-content: space-between;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 0.7rem;
}

nav a:hover {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(8px);
    border-radius: 6px;    
}

.nav-links {
    display: flex;
    gap: 1rem;
}

.logo {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}

.banner {
    width: 100%;
    height: 1000px;
    overflow: hidden;
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  
}

.bottom-bar {
  position: fixed;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%) translateY(100px);
  transition: transform 0.3s ease;
  width: 15%;
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
  background: rgba(120, 161, 255, 0.055);
  backdrop-filter: blur(8px);
  box-sizing: border-box;
  border-radius: 20px;
}

.bottom-bar a {
  color: rgb(37, 35, 83);
  text-decoration: none;
  padding: 0.7rem;
}

.bottom-bar a:hover {
  background: rgba(44, 255, 153, 0.645);
  backdrop-filter: blur(8px);
  border-radius: 6px;
}