* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --color-primary: 0, 115, 83;
  --color-secondary: 19, 17, 56;
  --color-background: 255, 255, 255;
  --color-white: 255, 255, 255;
  --color-black: 0, 0, 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  position: absolute;
  width: 100%;
  z-index: 10;
}

.header .logo {
  width: 10rem;
  height: auto;
}

.header nav a {
  font-size: 1.3rem;
  text-decoration: none;
  padding: 0.7rem;
  margin-right: 2rem;
  color: rgba(var(--color-secondary));
}

.data:hover,
.oss:hover {
  background: rgba(var(--color-white), 0.2);
  backdrop-filter: blur(8px);
  border-radius: 6px;
}

/* HERO BG BILD*/
.hero {
  height: 55rem;
  background: url(images/skog.jpg) center/cover no-repeat;
  background-position: top center;
  display: flex;
  padding-left: 60px;
  color: white;
  position: relative;
  align-items: flex-end;
  box-shadow: 0 4px 12px rgba(var(--color-black), 0.15);
}

.hero-text {
  position: relative;
  max-width: 700px;
  z-index: 2;
  margin-bottom: 5rem;
}

.hero h1 {
  font-size: 4.5rem;
  margin-bottom: 10px;
}

.section {
  display: block;
  padding: 4rem;
  padding-bottom: 14rem;
}

.hem {
  background: rgba(var(--color-white), 0.9);
  backdrop-filter: blur(8px);
  padding: 5px 10px;
  border-radius: 6px;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}

.section-title {
  font-size: 1.8rem;
  color: rgba(var(--color-secondary));
  font-weight: 400;
}

.cards {
  display: flex;
  gap: 2rem;
}

.card {
  flex: 1;
  background: #e8e8e8;
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  min-height: 30rem;
  justify-content: flex-end;
  align-items: center;
}

.card-image {
  width: 100%;
  border-radius: 0.5rem;
  margin-bottom: 0.75rem;
  flex: none;
  object-fit: cover;
  height: 30rem;
}

.sektion1-img {
  width: 100%;
  border-radius: 0.5rem;
  margin-bottom: 0.75rem;
  flex: none;
  object-fit: cover;
  height: 30rem;
}

.visa-mer-btn {
  background: rgba(var(--color-primary), 1);
  color: white;
  border: none;
  padding: 0.5rem 1.1rem;
  border-radius: 1.25rem;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-size: 0.85rem;
}

.section-line {
  height: 0.19rem;
  background: rgba(var(--color-primary), 1);
  margin-top: 1.8rem;
  border-radius: 0.125rem;
}

/* BOTTOM BAR */

.bottom-bar {
  position: fixed;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%) translateY(100px);
  transition: transform 0.3s ease;
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
  background: rgba(var(--color-secondary), 0.3);
  backdrop-filter: blur(8px);

  border-radius: 20px;
}

.bottom-bar a {
  color: white;
  text-decoration: none;
  padding: 0.7rem;
}

.bottom-bar a:hover {
  background: rgba(var(--color-white), 0.3);
  border-radius: 6px;
}

/*============================================================================================================================*/

/* FOOTER */
footer {
  text-align: center;
  padding: 60px 60px 100px;
  overflow: hidden;
  background: url(images/skog.jpg) center/cover no-repeat;
  background-position: bottom center;
  color: rgba(var(--color-white));
}

@media (max-width: 768px) {
  .cards {
    flex-direction: column;
    gap: 2rem;
  }
}
