* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}



/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  position: absolute;
  width: 100%;
  z-index: 10;
}

.header .logo {
  width: 10rem;
  height: auto;
}

.header nav a {
  color:#131138;
  font-size: 1.3rem;
  text-decoration: none;
  padding: 0.7rem;
}

nav a:hover {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(8px);
    border-radius: 6px;    
}


nav a {
  margin-right: 2rem;
}


/* HERO BG BILD*/
.hero {
  height: 55rem;
  background: url("https://images.pexels.com/photos/17877099/pexels-photo-17877099.jpeg") center/cover no-repeat;
  display: flex;
  padding-left: 60px;
  color: white;
  position: relative;
  align-items:flex-end;
  
}


.hero-text {
  position: relative;
  max-width: 500px;
  z-index: 2;
  margin-bottom: 5rem;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

/* SECTIONS */
.section {
  display: flex;
  gap: 40px;
  padding: 60px;
  align-items: center;
}

.hem {
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(8px);
  padding: 5px 10px;
  border-radius: 6px;
  
}

.section.reverse {
  flex-direction: row-reverse;
}

.box.image {
  width: 50%;
  height: 300px;
  background: #ddd;
  border-radius: 10px;
}

.box.text {
  width: 50%;
}

/* sista bild (riktig bild) */
.img-real {
  background: url("kids.jpg") center/cover no-repeat;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 30px;
  background: #111;
  color: white;
}